:root {
    --fondo: #e0e5ec;
    --sombra-clara: #ffffff;
    --sombra-oscura: #a3b1c6;
    --azul: #2980b9;
    --rojo: #d63031;
    --texto: #44476a;
    --suave: #718096;
    --verde: #27ae60;
    --naranja: #e67e22;
}

body.night-mode {
    --fondo: #2d3436;
    --sombra-clara: #384143;
    --sombra-oscura: #222729;
    --texto: #dfe6e9;
    --suave: #b2bec3;
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', sans-serif;
    background: var(--fondo);
    color: var(--texto);
    margin: 0;
    padding: 15px;
    transition: background 0.8s ease;
}

.container {

    width: 60vw;
    margin: 25px;
    background: var(--fondo);
    padding: 25px;
    border-radius: 25px;
    box-shadow: 8px 8px 15px var(--sombra-oscura), -8px -8px 15px var(--sombra-clara);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

h1 {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--suave);
    text-transform: uppercase;
    margin-bottom: 10px;
}

form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    box-shadow: inset 4px 4px 8px var(--sombra-oscura), inset -4px -4px 8px var(--sombra-clara);
    border-radius: 8px;
    border: none;
    margin: 15px;
    height: 50px;
    width: 75%;
    padding-left: 25px;
    background-color: var(--fondo);
    color: var(--azul)
}

button {
    padding: 12px 20px;
    border: none;
    background: var(--fondo);
    border-radius: 15px;
    box-shadow: 5px 5px 10px var(--sombra-oscura), -5px -5px 10px var(--sombra-clara);
    cursor: pointer;
    font-weight: bold;
    color: var(--suave);
    transition: 0.3s;
    width: 20%;
    height: 50px;
}

.deep {
    box-shadow: inset 4px 4px 8px var(--sombra-oscura), inset -4px -4px 8px var(--sombra-clara);
    border-radius: 8px;
    border: none;
    margin: 15px;
    padding: 25px;
}


input:focus {
    outline: none;
}

h2 {
    font-size: 30px;
}

p {
    margin: 10px 0;
    font-size: 25px;
}

img {
    width: 150px;
    height: auto;
    margin-top: 10px;
    display: block;
    margin: 20px auto;
}

iframe {
    width: 75%;
    height: 350px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

@media (max-width:900px) {
    .container {
        max-width: 95vw;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    button {
        min-width: 100px;
    }

    form {
        flex-direction: column;
    }
}